<footer>
    <div class="footer-top">
            <div class="row footerContainer">
                <div class="text">
                    <h3>Riadh Mazgou</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis illum cupiditate assumenda maiores, error reprehenderit?</p>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/riadh.mazgou/"><i class="fab fa-facebook"></i></a>         
                        <a href="https://www.linkedin.com/in/riadh-mazgou-114300168/"><i class="fab fa-linkedin-in"></i></a>                
                        <a href="https://www.instagram.com/riadh_mazgou/"><i class="fab fa-instagram"></i></a> 
                    </div>
                </div>
            </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row" style="justify-content: center;">
                   <div class="footer-copyright">
                    &copy; Copyright 2020 <strong>Riadh Mazgou</strong>
                </div>
                   
               </div>
        </div>
    </div>
</footer>