<app-navbar (Navigate)="navigateTo($event)"></app-navbar>
<div class="home" #home>
  <div class="slider">
    <div class="row innerSlider">
      <div class="col-md-7 rightSide">
        <div class="myName">
          <h6>Hi</h6>
          <h3>MY NAME IS <strong style="color: rgb(243, 145, 89);">RIADH</strong></h3>
          <h4><span class="try"></span></h4>
          <hr class="divider">
          <p style="font-size: 19px;">Welcome to my resume website. I hope that you like the content :)</p>
          <!-- <div class="readMore">
            <button>Read More</button>
          </div> -->
        </div>
      </div>
      <div class="col-md-5 leftSide">
        <img src="assets/images/myPic.png" alt="">
      </div>
    </div>
  </div>
  <div class="basicInfo">
    <div class="row innerInfo">
      <h2>Basic Information</h2>
      <hr class="divider " style="width: 30%; margin:0 auto; " />
      <div class="row" style="margin-top: 2em;">
        <div class="col-sm-6">
          <div class="lineInfo">
            <p><strong>Name : </strong>Riadh Mazgou</p>
          </div>
          <div class="lineInfo">
            <p><strong>Date of Birth : </strong>09-07-1996</p>
          </div>
          <div class="lineInfo">
            <p><strong>Age : </strong>{{ age }}</p>
          </div>
          <div class="lineInfo">
            <p><strong>Nationality : </strong>Tunisian</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="lineInfo">
            <p><strong>Address : </strong>Hammadi Essid street, 4021 Sousse, Tunisia</p>
          </div>
          <div class="lineInfo">
            <strong>Languages : </strong>
            <ul style="list-style-type: none; padding: 0;">
              <li>English : Fluent</li>
              <li>French : Fluent</li>
              <li>German : Basic</li>
              <li>Arabic : Native</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inclinedBar"></div>
  </div>


  <div class="aboutMe" #aboutme>
    <h4 class="mobileTitle">ABOUT MYSELF</h4>
    <div class="row">
      <div class="col-md-6 aboutMePic">
        <img src="assets/images/IMG_5835.png" alt="">
      </div>
      <div class="col-md-6 introduceMe">
        <h4 class="desktopTitle">ABOUT MYSELF</h4>
        <p>I am a Developer with industry experience building software, web and mobile applications. I worked on plenty of projects with people from different backgrounds.<br />

          My specialties include quickly learning new skills and programming languages, problem solving, application optimization. I'm still enthusiastically grabbing onto any other programming languages, frameworks, or principles i can integrate into the coding Software, Web and Mobile in my head.<br />
          
          in Addition i'm experienced on designing in which i'm able to work and create lot of things (logos, flyers, business cards, posters...) with Adobe Photoshop and Adobe Illustrator.<br />
          
          I am a hard-worker, motivated, fast learner, a team player and work tirelessly to get the job done. I strive for success.
          </p>
        <div class="download">
          <a href="assets/pdf/RiadhMazgouCV.pdf" download="RiadhMazgouCV">Download CV <i
              class="fas fa-download"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="seperator">
    <div class="inclinedBar"></div>
  </div>

  <div class="portfolio" #portfolio>
    <h1 class="gallery-title">Portfolio</h1>

      <div class="filterButtons">
        <button class="btn btn-default filter-button" data-filter="all" (click)="loadMore()">All</button>
        <button class="btn btn-default filter-button" data-filter="web" (click)="loadMore()">Web Development</button>
        <button class="btn btn-default filter-button" data-filter="desktop" (click)="loadMore()">Desktop Development</button>
        <button class="btn btn-default filter-button" data-filter="logo" (click)="loadMore()">Logo Design</button>
        <button class="btn btn-default filter-button" data-filter="flyers" (click)="loadMore()">Flyers, posters & Business cards</button>
      </div>
      <br />

      <div class="gallery">
        <div class="row"> 
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster7.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo9.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter web">
            <img src="assets/images/forResume/interface1.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster2.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/carteVisite4.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/flyer2.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo3.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter web">
            <img src="assets/images/forResume/interface4.jpg" class="img-responsive ImgThumbnail">
          </div>

        </div>
        <span id="more">
        <div class="row">
          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster8.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo5.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/flyer1.jpg" class="img-responsive ImgThumbnail">
          </div>
    
          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo10.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/carteVisite2.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo6.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter web">
            <img src="assets/images/forResume/interface2.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/afterEffect.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster4.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo2.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster3.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/carteVisite1.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo1.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo4.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter web">
            <img src="assets/images/forResume/interface3.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster5.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo8.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster9.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter desktop">
            <img src="assets/images/forResume/interface5.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter logo">
            <img src="assets/images/forResume/logo7.jpg" class="img-responsive ImgThumbnail">
          </div>

          <div class="gallery_product more col-lg-3 col-md-3 col-sm-3 col-xs-6 filter flyers">
            <img src="assets/images/forResume/poster6.jpg" class="img-responsive ImgThumbnail">
          </div>
        </div>
      </span>
        <button class="btn btn-primary" (click)="loadMore()" id="link">Load more</button>
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <!-- <div id="caption"></div> -->
  </div>

  <div class="workExperience" #experience>
    <div class="innerWork">
      <div class="workHeader">
        <h2>WORK EXPERIENCE</h2>
        <!-- <p>I'm looking to expand my portfolio while I'm on top and while I'm young.</p> -->
      </div>
      <div class="row experienceSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;">Software Developer</h3>
          <hr class="divideWork" />
          <p style="color: #6c757d;">Gesellschaft für Integrierte Systemplanung mbH</p>
          <p style="color: #6c757d99;">Weinheim, Germany</p>
          <hr class="miniDivider">
          <p class="date">08/2019 - 07/2020</p>
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Description</h5>
          <p style="color: #577285;" class="paragraphDescription">Developing Software Solutions for Enterprise Asset
            Management systems working with technologise like Java, Javascript, SQL...<br>The solutions are to implement
            requirements or to solve problems for maintenance task (mobile workmanagement materialmanagement..)</p>
        </div>
      </div>
      <hr class="divideWork" />
      <div class="row experienceSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;">Co-founder / Web Developer</h3>
          <hr class="divideWork" />
          <p style="color: #6c757d;">Mondiag.NET SARL</p>
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">
          <p class="date">06/2018 - 06/2019</p>
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Description</h5>
          <p style="color: #577285;" class="paragraphDescription">Corporate founder of the company Mondiag.net SARL and
            realization of web application <a href="https://www.mondiag.net"
              style="text-decoration: none; color: #577285; font-weight: bold;" target="_blank">www.mondiag.net</a> with
            web frameworks Angular 7 of Ionic 3. The application is a tool of diagnostics of habitats and socials
            intened for the french public over 55 years old.</p>
        </div>
      </div>
      <hr class="divideWork" />
      <div class="row experienceSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;">Developer / Designer</h3>
          <hr class="divideWork" />
          <p style="color: #6c757d;">Optima-Tech</p>
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">
          <p class="date">08/2018 - 01/2019</p>
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Description</h5>
          <p style="color: #577285;" class="paragraphDescription">Realization of website:
            www.optimatech-group.com.<br>Realization of an application of <b>Patient Manager</b> with
            JAVA.<br>Realization of <b>PARA PHARMACY</b> website with WordPress.<br>Design of flyers, logo, business
            cards...</p>
        </div>
      </div>
      <hr class="divideWork" />
      <div class="row experienceSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;">Web Developer</h3>
          <hr class="divideWork" />
          <p style="color: #6c757d;">Evo-Gate</p>
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">
          <p class="date">07/2017 - 08/2017</p>
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Description</h5>
          <p style="color: #577285;" class="paragraphDescription">Summer internship; Applying and mastering different
            languages of web development.</p>
        </div>
      </div>
      <hr class="divideWork" />
      <div class="row experienceSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;">Commnication & Marketing Manager</h3>
          <hr class="divideWork" />
          <p style="color: #6c757d;">Junior Enterprise Isitcom</p>
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">
          <p class="date">07/2017 - 08/2017</p>
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Description</h5>
          <p style="color: #577285;" class="paragraphDescription">Joined the club Junior Enterprise in the university.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="education" #education>
    <div class="innerEducation">
      <div class="workHeader">
        <h2>EDUCATION</h2>
      </div>
      <div class="row educationSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;" class="date">09/2016 - 06/2019 </h3>
          <hr class="divideWork" />
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">

        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Higher Institute of Computer
            Science and Communication Technics</h5>
          <p style="color: #577285;" class="paragraphDescription"><i class="fas fa-user-graduate"></i> Bachelor degree
            in Computer Networks.</p>
        </div>
      </div>
      <hr class="divideWork" />
      <div class="row educationSection">
        <div class="col-md-4 workDate">
          <h3 style="color: #27acc1; text-transform: uppercase;" class="date">09/2011 - 06/2015 </h3>
          <hr class="divideWork" />
          <p style="color: #6c757d99;">Sousse, Tunisia</p>
          <hr class="miniDivider">
        </div>
        <div class="col-md-8 description">
          <h5 style="color: #0f283e; text-transform: uppercase; margin-bottom: 25px;">Hammam Sousse High School</h5>
          <p style="color: #577285;" class="paragraphDescription"><i class="fas fa-user-graduate"></i> Baccalaureate
            Technical Section.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials">
    <div class="inclinedTestimonials">
      <div class="row">
        <div class="innerQuote">
          <div class="picture">
            <img src="assets/images/myPic3.jpg" alt="myPic2">
          </div>
          <div class="divider"></div>
          <div class="quotes">
            <p>"Dont wait for opportunity, create it.."</p>
            <div class="quoteIcon">
              <i class="fas fa-quote-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="knowledgee" #skills>
    <div class="innerKnowledgee">
      <h2>Skills & Knowledge</h2>
      <div class="skillsSectionn">
        <h3 class="text-uppercase">Knowledge</h3>
        <div class="row">
          <div class="skillsList col-md-6">
            <h4>Web Frameworks</h4>
            <ul class="list">
              <li class="element">Angular</li>
              <li class="element">Ionic</li>
              <li class="element">NodeJS</li>
              <li class="element">Bootstrap</li>
              <li class="element">ExpressJS</li>
              <li class="element">VueJS</li>
              <li class="element">Laravel</li>
            </ul>
          </div>
          <div class="skillsList col-md-6">
            <h4>Web Technologies</h4>
            <ul class="list">
              <li class="element">HTML</li>
              <li class="element">CSS</li>
              <li class="element">JavaScript</li>
              <li class="element">WordPress</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="skillsList col-md-6">
            <h4>Programming Languages</h4>
            <ul class="list">
              <li class="element">C</li>
              <li class="element">C++</li>
              <li class="element">Java</li>
              <li class="element">Groovy</li>
              <li class="element">PHP</li>
              <li class="element">Android</li>
            </ul>
          </div>
          <div class="skillsList col-md-6">
            <h4>Database Management</h4>
            <ul class="list">
              <li class="element">MySQL</li>
              <li class="element">NoSQL</li>
              <li class="element">ORACLE</li>
              <li class="element">MongoDB</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 3em 0;">
        <div class="col-md-7 ">
          <h3 class="text-uppercase animated" data-animation="fadeInUp" data-animation-delay="200">Language Skills</h3>

          <div class="language">
            <p>Arabic Native</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>

          <div class="language">
            <p>English Fluent</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
            </div>
          </div>

          <div class="language">
            <p>French Fluent</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
            </div>
          </div>

          <div class="language">
            <p>German Basic</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" style="width: 25%">25%</div>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>

      <!-- <div class="languageSkills">
          <h3 class="text-uppercase animated" data-animation="fadeInUp" data-animation-delay="200">Language Skills</h3>

          <div class="row">
            <div class="col-sm-3 col-xs-3">
              <div class="circle-wrap">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                  </div>
                  <div class="inside-circle"> English<br />Fluent </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="circle-wrap">
                <div class="french">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                  </div>
                  <div class="inside-circle"> French<br />Fluent </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="circle-wrap">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                  </div>
                  <div class="inside-circle"> Arabic<br />Native </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div class="circle-wrap">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                  </div>
                  <div class="inside-circle"> German<br />Basic </div>
                </div>
              </div>
            </div>
          </div>

        </div> -->
      <!-- <div class="knowledgeSkills">

          <h3 class="text-uppercase animated" data-animation="fadeInUp" data-animation-delay="200">Knowledge</h3>

          <div class="row">
            <div class="col-md-6 col-xs-6">
              <ul class="check animated" data-animation="fadeInUp" data-animation-delay="400">
                <li><i class="icon-check"></i>Google Analythics</li>
                <li><i class="icon-check"></i>Instal and Configure</li>
                <li><i class="icon-check"></i>E-commerce Platform</li>
                <li><i class="icon-check"></i>Color theory</li>
                <li><i class="icon-check"></i>Web Usability</li>
                <li><i class="icon-check"></i>Grid &amp; Layout</li>
              </ul>
            </div>
            <div class="col-md-6 col-xs-6">
              <ul class="check animated" data-animation="fadeInUp" data-animation-delay="400">
                <li><i class="icon-check"></i>Photo manipulation</li>
                <li><i class="icon-check"></i>Digital Painting</li>
                <li><i class="icon-check"></i>Photo Composition</li>
                <li><i class="icon-check"></i>Good Tipography</li>
                <li><i class="icon-check"></i>Portrait Retouching</li>
                <li><i class="icon-check"></i>Video Editing</li>
              </ul>
            </div>
          </div>

        </div> -->

      <div class="hobbies">
        <h3 class="text-uppercase animated" data-animation="fadeInUp" data-animation-delay="200"
          style="display: block;">Hobbies and Interests</h3>

        <ul class="hobbiesList">
          <li>
            <i class="fas fa-dumbbell"></i>
            <p>Sports</p>
          </li>
          <li>
            <i class="fas fa-gamepad"></i>
            <p>Gaming</p>
          </li>
          <li>
            <i class="fas fa-film"></i>
            <p>Movies</p>
          </li>
          <li>
            <i class="fas fa-swimmer"></i>
            <p>Swimming</p>
          </li>
          <li>
            <i class="fas fa-biking"></i>
            <p>Biking</p>
          </li>
          <li>
            <i class="fas fa-network-wired"></i>
            <p>Associative Activities</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- <div class="picSection">
    <div class="innerPic">
      <img src="assets/images/ffff.png" alt="">
    </div>
  </div> -->
  <div class="contactUs" #contact>
    <h3>Contact Me</h3>
    <div class="innerContact row">
      <div class="col-md-3 emailMe">
        <div class="contactIcons">
          <span><i class="far fa-envelope" style="font-size: 22px;"></i></span>
        </div>
        <h5>Email Me</h5>
        <p>riadhma23@gmail.com</p>
      </div>
      <div class="col-md-5 socialMedia">
        <div class="contactIcons">
          <span><i class="fas fa-share-alt" style="font-size: 22px;"></i></span>
        </div>
        <h5>Social Profiles</h5>
        <div class="iconGroup">
          <a href="https://www.facebook.com/riadh.mazgou/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.linkedin.com/in/riadh-mazgou-114300168/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/riadh_mazgou/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-3 callMe">
        <div class="contactIcons">
          <span><i class="fas fa-phone-alt" style="font-size: 22px;"></i></span>
        </div>
        <h5>Call Me</h5>
        <p>+216 20657603</p>
      </div>
    </div>
  </div>
</div>