@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.home{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
    overflow: hidden;
}
.slider{
    /* background: rgba(177, 177, 177, 0.432);
    background-image: url('../../assets/images/background.jpg'); */
    background: linear-gradient(to bottom, rgba(92, 66, 48, 0.74) 0%, rgba(92, 66, 48, 0.438) 100%), url('../../assets/images/bg-masthead.jpg');
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: scroll;
    overflow: hidden;
    /* width:110%;
    top:-5%;
    left:-5%;
    transform:rotate(2deg); */
   
}

.divider{
    border: 0;
    display: block;
    height: 4px;
    margin-left: 0;
    width: 80px;
    background: rgb(243, 145, 89);
}

.innerSlider{
    padding-top: 8em;
    margin: 0 7em;
}
.rightSide{
    margin: auto;
}
.myName{
    color: white;    
}
.myName h3{
    font-size: 40px;
}
.myName  h4,h6{
    font-size: 25px;
    font-weight: 700;
}
.myName span{
    
    border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  
.myName p{
    margin: 30px 0;
}
.myName .readMore button{
    padding: 10px 25px;
    border: 1px solid white;
    color: white;
    background: transparent;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s all;
}

.myName .readMore button:hover{
    color: black;
    background: white;
}

.leftSide img{
    width: 400px;
    opacity: 0.9;
    filter: brightness(100%);
    filter: saturate(65%);
}

.seperator{
    width: 100%;
    margin: 3em auto;
    position: relative;
    height: 220px;
}

.seperator .inclinedBar{
    height: 180px;
    z-index: 0;
    position: absolute;
    background: rgb(243,145,89);
    background: -moz-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: -webkit-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    width: 110%;
    top: -10%;
    left: -9%;
    transform: rotate(-3deg);
    overflow: hidden;
}


.basicInfo{
    width: 100%;
    margin: 3em auto;
    position: relative;
    height: 300px;
}

.basicInfo .innerInfo{
    background-color: white;
    padding: 2em 8em;
    display: block;
    z-index: 99;
    position: absolute;
    border-radius: 8px;
    margin: -82px 12em 0 12em;
    -webkit-box-shadow: 0 0px 55px -20px rgba(56,56,56,0.5);
    -moz-box-shadow: 0 0px 55px -20px rgba(56,56,56,0.5);
    box-shadow: 0 0px 55px -20px rgba(56,56,56,0.5);
}

.basicInfo .innerInfo h2{
    text-align: center;
    font-weight: 700;

}

.basicInfo .inclinedBar{
    height: 180px;
    z-index: 0;
    position: absolute;
    background: rgb(243,145,89);
    background: -moz-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: -webkit-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    width: 110%;
    top: 68%;
    left: -9%;
    transform: rotate(3deg);
    overflow: hidden;
}

.aboutMe{
    width: 100%;
    margin: 0    auto;
    padding: 6em 12em;
    background-color: rgb(252, 252, 252);
}

.aboutMePic{
    text-align: center;
}
.aboutMePic img{
    width: 400px;
}

.aboutMe h3{
    text-align: center;
    margin-bottom: 3em;
    font-size: 40px;
    color: rgb(21, 124, 192);
    font-weight: 700;
}

.introduceMe h4{
    font-size: 50px;
    font-weight: 700;
    color: rgb(243, 145, 89);
}

.introduceMe p{
    margin: 30px 0;
}

.introduceMe .download a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    background: rgb(243,145,89);
    background: -moz-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: -webkit-linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    background: linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);
    border-radius: 25px;
    font-weight: 500;
    border: 1px solid ;
    border-color: linear-gradient(38deg, rgba(243,145,89,0.8) 0%, rgba(255,222,30,0.6502976190476191) 100%);;
    transition: 0.5s all;
}
.introduceMe .download a:hover{
    background: transparent;
    border: 1px solid rgb(243,145,89);
    color: rgb(243,145,89);
}

.workExperience{
    width: 100%;
    margin: 4em 0;
    background-color: #f0f0f0;
}

.workExperience .innerWork{
    margin: 0 4em;
    padding: 3em 0 ;
}

.workExperience .experienceSection{
    margin: 2em 0;
}
.workExperience .experienceSection .date{
    font-family: 'Raleway', sans-serif;

}

.workExperience .innerWork h2{
    font-size: 60px;
    color: rgb(243,145,89);
}

.workExperience .innerWork .workDate{
    text-align: right;
    padding: 1em 2em;
}

.workExperience .innerWork .description{
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 1em 2em;
}

.education{
    width: 100%;
    margin: 4em 0;
    background-color: rgb(252, 252, 252);
}

.education .innerEducation{
    margin: 0 4em;
    padding: 3em 0 ;
}

.education .educationSection{
    margin: 2em 0;
}
.education .educationSection .date{
    font-family: 'Raleway', sans-serif;

}

.education .innerEducation h2{
    font-size: 60px;
    color: rgb(243,145,89);
}

.education .innerEducation .workDate{
    text-align: right;
    padding: 1em 2em;
}

.education .innerEducation .description{
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 1em 2em;
}

.paragraphDescription{
    line-height: 30px;
}


.testimonials{
  width: 100%;
  margin: 0;
}

.testimonials .inclinedTestimonials{
  background: linear-gradient(to bottom, rgba(107, 107, 107, 0.301) 0%, rgba(107, 107, 107, 0.808) 100%), url('../../assets/images/background.jpg');
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 0;
 
}

.testimonials .row{
  margin: 0 ;

}
.testimonials .row .innerQuote{
  margin: 0 auto;
  
}
.innerQuote .picture{
  display: block;
}
.innerQuote .picture img{
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.innerQuote .divider{
  margin: 40px auto;
  background: white;
}

.quotes p{
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin: 20px auto;
  letter-spacing: 5px;
}

.quotes .quoteIcon {
  background-color: white;
  padding: 10px;
  font-size: 35px;
  border-radius: 50%;
  color: rgb(243,145,89);
  margin:0 auto;
  margin-top: 50px;
  width: 75px;
  text-align: center;
}

.quotes .quoteIcon i{
}

/*****************************  $Knowledge  ******************************/
.knowledgee {    
    margin: 3em 0;
  }
  .knowledgee h2 {
    color: #0f283e;
    font-size: 4.4em;
    font-weight: 800;
    line-height: 0.9em;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }
  .knowledgee h3{
    color: #0f283e;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .knowledgee .skillsSectionn{
    margin: 2em;
  }

  .knowledgee .skillsSectionn .skillsList .list{
    
    padding: 0;
    margin: 20px 0;
    display: flex;
  flex-wrap: wrap;
  }

  .knowledgee .skillsSectionn .skillsList .list .element{
    margin: 0 10px;
    background-color: #2fc794;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
  }

  .knowledgee .language{
    margin: 20px 0;
  }

  .knowledgee .language .progress .progress-bar-striped{
    background-color: #f39159;
  }

  .circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: rgb(243, 171, 89);
  }
  
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
  }
  
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(126deg);
    }
  }
  
  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    padding: 35px 0;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 20px;
  }


.picSection{
  width: 100%;
  margin: 0;
}

.contactUs{
    width: 100%;
    margin: 3em 0;
    padding: 4em 0;
    text-align: center;
}

.contactUs h3{
    text-shadow: 0px -8px 5px rgba(127,127,127,0.26);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3em;
}

.contactUs .innerContact{
    margin: 0 2em;
    text-align: center;
    justify-content: center;
}

.contactUs .innerContact h5{
    margin: 20px 0;
    color: rgb(105, 105, 105);
    font-family: sans-serif;
    font-weight: 600;
}

.contactUs .innerContact p{
    margin: 20px 0;
    color: rgb(105, 105, 105);   
}

.contactUs .innerContact .emailMe{
    padding: 1em 0;
    -webkit-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
-moz-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
}

.contactUs .contactIcons{
    margin: 15px 0;
}
.contactUs .contactIcons span{
    
    color: #ffb727;
    border-radius: 50%;
    padding: 15px;
    background-color: #fff6e4;
}

.contactUs .innerContact .socialMedia{
    margin: 0 1em;
    padding: 1em 0;
    -webkit-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
    box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
}
.iconGroup{
    margin: 30px 0;
}
.iconGroup a{
    text-decoration: none;
    color: rgb(105, 105, 105);
    margin: 0 10px;
    padding: 15px 20px;
    border-radius: 50%;
    border: 1px solid rgba(105, 105, 105, 0.5);
    transition: 0.3s;
}

.iconGroup a:hover{
    border: 1px solid #ffb727;
    background-color: #ffb727;
    color: white;
}

.contactUs .innerContact .callMe{
    padding: 1em 0;
    -webkit-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
    box-shadow: 0px 0px 25px -13px rgba(143,143,143,1);
}
